body {
  background-color: var(--color-white);
  color: var(--main-color);
  font-family: "Roboto", sans-serif;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

:root {
  --main-color: #212121;
  --color-blue: #2196f3;
  --color-grey: #757575;
  --color-white: #ffffff;
  --color-black: #000000;
  --background-grey: #2f303a;
  --btn-shadow: rgba(0, 0, 0, 0.15);
  --btn-shadow-f: rgba(0, 0, 0, 0.15);
  --btn-hover: #188ce8;
  --color-footer: rgba(255, 255, 255, 0.6);
  --color-button: #f5f4fa;
  --color-footers: #2f303a;
  --color-team-rgb: rgba(0, 0, 0, 0.12);
  --color-team-rgba: rgba(0, 0, 0, 0.14);
  --color-teams-rgb: rgba(0, 0, 0, 0.2);
  --color-btn-primary: rgba(0, 0, 0, 0.1);
  --color-btns-primary: rgba(0, 0, 0, 0.08);
}

/* Header  */
.current:visited {
  color: var(--color-blue);
}
.header-menu {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--main-color);
}

.header-menu:hover,
.header-menu:focus,
.header-menu:active {
  color: var(--color-blue);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--color-blue);
  text-decoration: none;
}

.logo-accent-black {
  color: var(--color-black);
}

.logo-accent-white {
  color: var(--color-white);
}

.header-contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--color-grey);
}

.header-contact:hover,
.header-contact:focus {
  color: var(--color-blue);
}

/* Hero */

.hero {
  background-color: var(--background-grey);
}

.hero-title {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-white);
}

.hero-btn {
  font-family: inherit;
  background: var(--color-blue);
  box-shadow: 0px 4px 4px var(--btn-shadow);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--color-white);
  cursor: pointer;
  border-color: transparent;
}
.hero-btn:active,
.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--btn-hover);
  box-shadow: 0px 4px 4px var(--btn-shadow-f);
  border-radius: 4px;
}

.benefits-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
}

.benefits-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-grey);
}

/* Work */
.work-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

/* Team */
.team {
  background-color: var(--color-button);
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
}
.team-item {
  background-color: var(--color-white);
  box-shadow: 0px 1px 3px var(--color-team-rgb),
    0px 1px 1px var(--color-team-rgba), 0px 2px 1px var(--color-teams-rgb);
  border-radius: 0px 0px 4px 4px;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.team-text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-grey);
}

/* Footer */
.footer {
  background-color: var(--color-footers);
}

.footer-map {
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-white);
  text-decoration: none;
}

.footer-contact {
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-footer);
  text-decoration: none;
}

.button {
  color: var(--main-color);
  background-color: var(--color-button);
}
.button-primary {
  color: var(--color-white);
  background-color: var(--color-blue);
  box-shadow: 0px 3px 1px var(--color-btn-primary),
    0px 1px 2px var(--color-btns-primary), 0px 2px 2px var(--color-team-rgb);
}

/* Portfolio */

.portfolio-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  border-radius: 4px;
  cursor: pointer;
  border-color: transparent;
}
.portfolio-btn:active,
.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--color-white);
  background: var(--color-blue);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border-color: transparent;
}
.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--color-grey);
}
.list {
  text-decoration: none;
  list-style: none;
}
